/********************
 * Left
 ********************** */
 
 #left{
 	position: fixed;
 	width : 300px;
 	height: 100%;
 	background-color: black;
 	left: 0%;
 	right: 0%;
 	top: 0%;

 } 


 #left .picture{
 	height: 200px;
 	margin: 100px 0 0 40px;
 	border-style: solid;
 }
 a{
    text-decoration: none;
    color: #fff;
 }

 #left .btn-wrap{
 	margin: 100px 0px 0 3px;
 	font-size: 25px;
 	text-align: center;
 	text-decoration: none;
 	list-style: none;
 	color: white;
    line-height: 50px;
    text-transform: uppercase;
 }

 li{
    transition: background-color 0.2s, margin-left 0.5s;
 }
 li:hover{
    background-color: gray;
 }

