body {
    padding-top: 0;
    padding-left: 17rem;
    box-sizing: border-box;
}


/********************
 * Left
 ********************** */
 
 #left{
 	position: fixed;
 	width : 300px;
 	height: 100%;
 	background-color: black;
 	left: 0%;
 	right: 0%;
 	top: 0%;

 } 


 #left .picture{
 	height: 200px;
 	margin: 100px 0 0 40px;
 	border-style: solid;
 }
 a{
    text-decoration: none;
    color: #fff;
 }

 #left .btn-wrap{
 	margin: 100px 0px 0 3px;
 	font-size: 25px;
 	text-align: center;
 	text-decoration: none;
 	list-style: none;
 	color: white;
    line-height: 50px;
    text-transform: uppercase;
 }

 li{
    transition: background-color 0.2s, margin-left 0.5s;
 }
 li:hover{
    background-color: gray;
 }
 /*****************
  * Central
  * ***************/


 #central{
   /*position: relative;*/
   /*float: right;*/
   top: 200px;
   left: -750px;
   padding: 80px 70px 80px 70px;

 }

 /***********
  * About
  * *********/

 #central .ABOUT{
 /*  position: absolute;*/
   min-height: 100vh;


 }

 #central .name{
   font-size: 35px;
   font-weight: bold;
 }
 #central a{
   color: darkred;
 }

 #central .Skill{
   position: absolute;
   top: 350px;
 }

/**************
 * Skill
 * ************/

 #central .SKILL .mine{
   font-size: 35px;
   font-weight: bold;
   line-height: 200px;
 }
 #central .SKILL .backend{
   font-size: 30px;
 }

 #central .SKILL .Java{
   font-size: 25px;
 }
 



